{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LoginPage</title>
    <link rel="stylesheet" href={% static 'styles/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'styles/bootstrap.min.css' %}>
{#    <link rel="stylesheet" href={% static 'styles/login.css' %}>#}
</head>

<body style="background: var(--bs-yellow);">
    <nav class="text-center d-flex d-xxl-flex justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="border-width: 2px;border-style: solid;padding-left: 0px;padding-top: 24px;padding-bottom: 24px;margin-top: -1px;margin-bottom: -1px;background: #ff9d00;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-house-fill" style="font-size: 46px;">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"></path>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"></path>
        </svg>
        <h1>TestingSimplified</h1>
    </nav>
    <section class="text-center d-xxl-flex flex-column justify-content-xxl-center align-items-xxl-center" style="padding: 90px;">
        <div class="container d-flex flex-column align-items-xxl-center" style="background: #ff9d00;border: 2px solid rgb(0,0,0) ;">
            <h2 style="padding-bottom: 18px;">LOGIN</h2>
            <form action="{% url 'login' %}" method="post">
                {%csrf_token%}
            <div class="row d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="opacity: 1;">
                <div class="col-xxl-12 d-flex flex-column" style="padding-top: 15px;padding-bottom: 15px;"><label class="form-label" for="email">Email</label>
                    <input type="email" id="email" placeholder="Your email here..." name="email" required="" ></div>
            </div>
            <div class="row d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="opacity: 1;">
                <div class="col-xxl-12 d-flex flex-column" style="padding-top: 15px;padding-bottom: 15px;"><label class="form-label" for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Your Password here..." required="" minlength="6"></div>
            <div class="col-xl-12"><button class="btn btn-warning active" id="login-submit" type="submit" style="border: 2px solid var(--bs-btn-hover-color) ;" name="save" value="login">Log in</button></div>

            </div>
            </form>
            <div class="col">
                    <p>Don't have an account yet?</p>
                <form action="{% url 'login' %}" method="post">
                {%csrf_token%}
                <button class="btn btn-warning active" id="registerredirect" type="submit" style="border: 2px solid var(--bs-btn-hover-color) ; margin-bottom: 10px" name="save" value="register">Register</button>
                </form>
                </div>
        </div>
    </section>
    <script src={% static 'script/login.js' %}></script>
</body>
